<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>Label</key>
    <string>org.wgbh.mla.s3dockerwhisper</string>
    <key>Program</key>
    <string>/bin/bash</string>
    <key>ProgramArguments</key>
    <array>
        <string>-l</string>
        <string>-c</string>
<!--        <string>"$HOME"/.docker/mnt/s3/whispermedia.sh</string> -->
        <string>"$HOME"/.docker/mnt/s3/whispermedia.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>450</integer>
</dict>
</plist>
